.banner {
  display: flex;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0 0;
}

.banner__right img {
  height: 368px;
  width: 530px;
  object-fit: contain;
}

.banner__right {
  background-image: url("../../images/Ellipse\ 3.png");
}

.banner__left h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #000000;
  width: 500px;
  height: 180px;
  margin-bottom: 15px;
}

.banner__left p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #494949;
}
